<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu:ital@1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Mono:wght@500&family=Ubuntu:ital@1&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="/css/styles.css">
  <title>Technology Journal</title>
</head>

  
  <body>
    <div class="navbar">
      <nav>
      <h2><a href='/'style="text-decoration: none;" >Programming Journal</a></h2>
      <div class="navbar-itemZ">
          <ul class="navbar_items">
            <li class="nav-item active">
              <a class="nav-link" href="/entries">Entries</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/compose">Compose</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
  
  </nav>
    <div class="container">
     
      

